body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(194, 240, 240);
    
}

header,
footer{
    background-color: rgb(138, 126, 183);
    background-image: linear-gradient(rgb(16, 17, 18), rgb(192, 237, 133)) ;
    color: rgb(144, 15, 26);
    text-align: center;
    padding: 18px;
    text-anchor: middle;

}


main{
    padding: 20px; 
    text-align: center;
}
div.contenedor2{
    color: rgb(63, 31, 171);
 
}
img {
    pointer-events: all;

}

